---
layout: body
permalink: /videos/
title: Videos
---

{% if page.hide_header == true %}
    {% include header_alt.html %}
  {% else %}
    {% include header.html site=site page=page image=site.header.background_img %}
{% endif %}


<div id="content" class="site-content">
  <main id="main" class="site-main">
    <h1 class="post-title">{{ page.title }}</h1>
    <section class="videos">
      {% for video in site.videos %}
        <div class="video">
          <video src="{{video.src}}" controls></video>
          <div class="video-info">
            <h2>{{ video.title }}</h2>
            <p>{{ video.content | markdownify }}</p>
          </div>
        </div>
      {% endfor %}
    </section>

  </main><!-- .site-main -->

  {% include footer.html %}

</div><!-- .site-content -->